<!DOCTYPE html>
<html>

<head>
    <title>Search Form Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
<style>
    body {
        display: flex;
        justify-content: center;
        padding-top: 300px;
        height: 100vh;
    }
</style>
</head>

<body>

    <form class="row g-3">
        <div class="col-auto">
            <label for="staticEmail2" class="visually-hidden">Email</label>
            <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
        </div>
        <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Password</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
        </div>
    </form>
    
    <form >
        
        <input type="text" id="search-input" >
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div id="search-results"></div>

    <script>
        const form = document.querySelector('form');
        const searchInput = document.querySelector('#search-input');
        const searchResults = document.querySelector('#search-results');

        form.addEventListener('submit', async (event) => {
            event.preventDefault();
            searchResults.innerHTML = "Loading..."
            const query = searchInput.value;
            const apiUrl = 'http://localhost:4000/free-search'
            const requestBody = { query };
            try {
                const response = await fetch(apiUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ query: query })
                });
                // const response = await fetch('https://6416d60d3fbb68b01bff207d.mockapi.io/free-search/Location')
                const {answer} = await response.json()
                            
                const obj = eval('(' + answer + ')');
                console.log(obj); 
                
                let html = '';
                // data.map((item) => {
                //     html += `
                //         <div>
                //             <h3>${item.name}</h3>
                //         </div>
                //     `;
                // });
                searchResults.innerHTML = html;
            } catch (error) {
                // Handle error
                console.error(error);
                searchResults.innerHTML = 'An error occurred while searching.';
            }
        });
    </script>
</body>

</html>