* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f5f5f5;
	padding-top: 200px;
}

.form-control-borderless {
	border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
	border: none;
	outline: none;
	box-shadow: none;
}
