<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Search Form with Search Results</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f1f1f1;
    }
    .search-results {
      margin-top: 20px;
    }
  </style>
</head>
<body>
<div class="input-group">
    <div class="form-outline">
        <input type="search" id="form1" class="form-control" />
        <label class="form-label" for="form1">Search</label>
    </div>
    <button type="button" class="btn btn-primary">
        <i class="fas fa-search"></i>
    </button>
</div>
</body>
</html>
